.user-card {
    background-color: rgb(185, 185, 185);
    border: 8px outset black;
    margin-bottom: 2px;
    transition: transform 0.5s, scale 0.5s;
}

.user-card:hover {
    
    transition-delay: 0s, 0.5s;
    transition-timing-function: ease-in;
    border: 8px outset grey;
    background-color: rgb(209, 250, 250);
}