@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.artist-list{
    position: absolute;
    margin-top: 5.2em;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-left: 15%;
    border: 5px gray outset;
    background-color: rgba(128, 128, 128, 0.476);
}
#selectArtist{
    width: 50%;
    margin-left: 25%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    opacity: 0.9;
}
.titleArtist{
    font-size: 2em;
    font-family: "Jersey 10", sans-serif;
    background-color: rgb(150, 150, 150);
}