.input-design {
    border-radius: 1em;
    height: 2em;
    width: auto;
}

.custom-input-container {
    height: 1.5em;
}
.input-error {
    border-width: 0.2em;
    border-color: red
}

.error-message {
    font-weight: bold;
    color: red
}
